body{font-family: 'Muli', Helvetica, sans-serif;}
body.dark-theme{color:white}
.logo {fill:#0f9be8; transition: all 0.2s }
.logo:hover { fill: #00b1ff }
.dark-theme .logo {fill: white;}
.dark-theme .logo:hover { fill: #c6c6c6 }
a:hover {color:#0f9be8; transition: all 0.2s}
a{text-decoration-color:#0f9be8;}
.footer a{text-decoration-color:inherit}
.dark-theme .footer a{text-decoration-color: inherit;}
.dark-theme a{text-decoration-color:#c6c6c6;}
.dark-theme a:hover {color:#c6c6c6; transition: all 0.2s}
p{margin-block-start:8px;font-size:1.1rem;}
span{font-size:0.9rem;}
html{letter-spacing:0;}
h2{font-size:1.8rem;font-weight:900;}
@media (max-width: 684px)
{h1{font-size:1.8rem;margin: 0px 30px 0 30px;}